<?xml version="1.0"?>

<model>
  <name>goomba</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Felipe Mohr</name>
    <email>felipe18mohr@gmail.com</email>
  </author>

  <description>
    Mario goomba.
    "GOOMBA" (https://skfb.ly/6S8FE) by Dav1d- is licensed under Creative Commons Attribution (http://creativecommons.org/licenses/by/4.0/).
  </description>
</model>
